@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
// If needed, change your variables before importing Bulma

//Initial font variable
$family-primary: "Montserrat", sans-serif;

// Initial variables
$light-blue: #00BCD4;
$dark-blue: #4285F4;
$black: #424242;
$grey: #9A9595;
$white: #FFFFFF;

// Derived variables
$primary: $light-blue;
$info: $dark-blue;
$text: $black;
$footer-background-color: $white;
$footer-padding: 1rem;
$link: $primary;

// For margin and padding
$spacer: 0.6rem;

// card
$card-content-padding: 3.5rem;




@import "../../node_modules/bulma/bulma.sass";